@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.modal:focus, .modal div:focus {
  outline:0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.loader-bg {
  animation: 2s ease-in 400ms infinite alternate bg-morph;
}
@keyframes bg-morph {
  from {
    filter: brightness(0);
  }
  from {
    filter: brightness(4);
  }
}
.loader-dot {
  animation: 500ms ease-in 100ms infinite alternate dot-down;
}
@keyframes dot-down {
  from {
    transform: translateY(0vh);
  }
  to {
    transform: translateY(5vh);
  }
}

.prompt-loader {
  animation: spin 1s linear infinite;
}
@keyframes spin {
  100% {
    transform: rotate(-360deg);
  }
}

.porfo-thumbs .desc {
  transform: translate(-50%, -50%);
}

.slideviewer-modal {
  transition: 
    width 200ms,
    opacity 200ms;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slideviewer-modal.half {
  width: 75%;
  opacity: 1;
}
.slideviewer-modal.full {
  width: 100%;
  opacity: 0.1;
}

.prompt-chat ul {
  list-style: disc;
  margin: revert;
  padding: revert;
}

.marker-info {
  display: flex;
  font-size: 14px;
  gap: 15px;
  height: 30px;
  justify-content: center;
  padding: 4px;
  position: relative;
  background-color: rgb(250, 173, 178);
  transition: all 0.1s ease-out;
  width: 30px;
  border-radius: 10px;
  border: 1px solid #888888;
}
.marker-info::after {
  /* border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid gold;
  content: ""; */
  height: 0;
  left: 50%;
  position: absolute;
  top: 95%;
  transform: translate(-50%, 0);
  transition: all 0.1s ease-out;
  width: 0;
  z-index: 1;
}
.marker-info .icon {
  width: 30px;
  height: 30px;
}

.marker-info.open {
  background: red;
}

gmp-place-autocomplete {
  width: 100%;
}
